<html>
    <head>
        <title>Day of Week Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <style>
            body {
                background: #e2e2e2;
            }
            h1 {
                text-align: center;
                padding: 20px;
                background: darkgrey;
            }
            .input {
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Day of Week Calculator</h1>

        <div class="container input">
            <form action='/view_result'>
                <label for="date">Please enter date (##/##/####):</label>
                <input name="date" id="date" type="date">

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
