<html>
    <head>
        <title>Day of the Week</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <style>
            body {
                background: #e2e2e2;
            }
            h1 {
                text-align: center;
                padding: 20px;
                background: darkgrey;
            }
            #home_link {
                padding-top: 50px;
                padding-left: 25px;
            }
            .output {
                text-align: center;
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Day of the Week</h1>
        <div class="container output">
            <h4>The day of the week for {{ date }} is: {{ day }}.</h4>
        </div>
        <div id="home_link">
            <a href="/">Convert Another Date</a>
        </div>
    </body>
</html>
